<div
  id="webglContainer"
  ng-webgl
  width="canvasWidth"
  height="canvasHeight"
  fillcontainer="dofillcontainer"
  scale="scale"
  material-type="materialType"
  speed="speed"
  ></div>
<p>SPEED</p>
<input type="number" ng-model="speed">

